<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name="com.cyb3rko.flashdim.activities.MainActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.cyb3rko.flashdim.activities.SettingsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:exported="false" />

        <service
            android:name=".SettingsTile"
            android:label="FlashDim"
            android:icon="@drawable/logo"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

    </application>

</manifest>