<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- This feature is required for a flashlight app -->
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="true"
        tools:ignore="UnnecessaryRequiredFeature" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:enableOnBackInvokedCallback="true"
        tools:ignore="LockedOrientationActivity">
        <profileable android:shell="true" />
        <activity
            android:launchMode="singleTop"
            android:name="com.cyb3rko.flashdim.activities.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name="com.cyb3rko.flashdim.activities.SettingsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <service
            android:name=".tiles.ToggleSettingsTile"
            android:label="FlashDim Toggle"
            android:icon="@drawable/logo"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <service
            android:name=".tiles.DimmerSettingsTile"
            android:label="FlashDimmer"
            android:icon="@drawable/logo"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="false" />
        </service>

        <!-- included in buildType "debug", "release" -->
        <!-- excluded in buildType "libre" -->
        <service
            android:name=".service.VolumeButtonService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>

</manifest>
